{% load static %}
<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>CarePress website</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static 'images/logoicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Start Main Top -->
    <div class="main-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					
                    <div class="right-phone-box">
                        <p><i class="fas fa-phone-square"></i>Call US :- <a href="tel:+255-748-669-905"> +255 748 669-905 /</a><a href="tel:+255-22-2180-716"> +255 22 2180716</a></p>
                    </div>
                    <div class="our-link">
                        <ul>
                            
                            <li><a href="https://www.google.com/maps/dir//118+Jangwani+St,+Dar+es+Salaam/@-6.7936039,39.2536614,14z/data=!4m8!4m7!1m0!1m5!1m1!1s0x185c4baf68bd98d3:0xcc6be68803452c0d!2m2!1d39.2721324!2d-6.819525"><i class="fas fa-location-arrow"></i> Our location</a></li>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="text-slid-box">
                        <div id="offer-box" class="carouselTicker">
                            <ul class="offer-box">
                                <li>
                                    <i class="fab fa-opencart"></i> 30% - 50% off on printing
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> 45% - 55% off on office stationeries 
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> Off 50%! Shop Now 
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Main Top -->

    <!-- Start Main Top -->
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                    <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'images/logo1.png' %}" class="logo" alt=""></a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About Us</a></li>
                        <li class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">SHOP</a>
                            <ul class="dropdown-menu">
								<li><a href="{% url 'officesupplies' %}">Office Supplies</a></li>
								<li><a href="{% url 'digitalprinting' %}">Digital Printing</a></li>
                                <li><a href="{% url 'offsetprinting' %}">Offset Printing</a></li>
                                <li><a href="{% url 'promotionalmaterials' %}">Promotional Materials</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'gallery' %}">Our Works</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'contact-us' %}">Contact Us</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->

               
            </div>

        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Main Top -->

    <!-- Start Top Search -->
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <!-- End Top Search -->

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>OFFICE SUPPLIES</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Office Supplies</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start About Page  -->
    <div class="about-box-main">
        <div class="container">
            <div class="row">
				<div class="col-lg-6">
                    <div class="banner-frame"> <img class="img-fluid" src="{% static 'images/office/1.jpg' %}" alt="" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2 class="noo-sh-title-top">OFFICE SUPPLIES</h2>
                    <p>At CarePress we offer you with office supplies that fullfill the demands of your industry and team.
                     From basic office supplies upto the stylish or functional products.   
                    </p>
                    <p>Want your supplies all in one color? we have got you covered. Want office supplies that feature cutting-edge design? Then we have a stock for you.
                    We always offer exceptional value on office supplies, no matter the type or quantity you need.</p>

                    <p>From DESK ORGANIZERS, DESK TRAYS, FILING & FOLDERS, EXPANDING FILE HOLDERS,
                        STICKY NOTES & FLAGS, STORAGE BINS & BASKETS, PRESENTATION BOARDS, PENS, PENCILS & MARKERS. </p>
                    <p>To COPY & PRINTER PAPER, NOTEBOOKS & PADS, ART & CRAFT PAPER, CALENDARS & PLANNERS, 
                        STAPLERS & STAPLES, PAPER CLIPS, BINDER CLIPS & FASTNERS, SCISSORS, BINDERS & ACCESSORIES.  </p>
                    <p>Together with TAPES & ADHESIVES, LAPTOP BAGS & CASES, BRIEFCASES & PADFOLIOS AND MANY MORE!  </p>
                </div>
            </div>
            <div class="categories-shop">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="title-all text-center">
                                <h1>Our Stock</h1>
                                
                            </div>
                        </div>
                        
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="shop-cat-box">
                                <img class="img-fluid" src="{% static 'images/office/22.jpg' %}" alt="" />
                                
                                <a class="btn hvr-hover" href="{% static 'images/office/2.jpg' %}">Desk Accessories</a>
                            </div>
                            <div class="bogi-content">
                                <div class="tittle-bogi">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="shop-cat-box">
                                <img class="img-fluid" src="{% static 'images/office/33.jpg' %}" alt="" />
                                <a class="btn hvr-hover" href="{% static 'images/office/3.jpg' %}">Basic Supplies</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="shop-cat-box">
                                <img class="img-fluid" src="{% static 'images/office/44.jpg' %}" alt="" />
                                <a class="btn hvr-hover" href="{% static 'images/office/4.jpg' %}">Filling and Folders</a>
                            </div>
                        </div>
                    
                </div>
            </div>

            <div class="categories-shop">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="title-all text-center">
                                
                                
                            </div>
                        </div>
                        
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="shop-cat-box">
                                <img class="img-fluid" src="{% static 'images/office/77.jpg' %}" alt="" />
                                
                                <a class="btn hvr-hover" href="{% static 'images/office/7.jpg' %}">Sticky Notes & Flags</a>
                            </div>
                            <div class="bogi-content">
                                <div class="tittle-bogi">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="shop-cat-box">
                                <img class="img-fluid" src="{% static 'images/office/55.jpg' %}" alt="" />
                                <a class="btn hvr-hover" href="{% static 'images/office/5.jpg' %}">Pencils, Pens & Markers</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="shop-cat-box">
                                <img class="img-fluid" src="{% static 'images/office/66.jpg' %}" alt="" />
                                <a class="btn hvr-hover" href="{% static 'images/office/6.jpg' %}">Binders & Accessories</a>
                            </div>
                        </div>
                    
                    </div>
                    </div>
            </div>
            
                
                
        </div>
    </div>
    <!-- End About Page -->

    <!-- Start Instagram Feed  -->
    <div class="instagram-box">
        <div class="main-instagram owl-carousel owl-theme">
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'images/footer/office1.jpg' %}" alt="" />
                    <div class="hov-in">
                        
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'images/footer/office2.jpg' %}" alt="" />
                    <div class="hov-in">
                        
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'images/footer/office4.jpg' %}" alt="" />
                    <div class="hov-in">
                        
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'images/footer/print1.png' %}" alt="" />
                    <div class="hov-in">
                        
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'images/footer/print2.png' %}" alt="" />
                    <div class="hov-in">
                        
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'images/footer/print3.jpg' %}" alt="" />
                    <div class="hov-in">
                        
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'images/footer/print4.jpg' %}" alt="" />
                    <div class="hov-in">
                        
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'images/footer/promotional1.jpeg' %}" alt="" />
                    <div class="hov-in">
                        
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'images/footer/promotional2.jpg' %}" alt="" />
                    <div class="hov-in">
                        
                    </div>
                </div>
            </div>
            
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'images/footer/promotional4.jpeg' %}" alt="" />
                    <div class="hov-in">
                        
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'images/footer/promotional5.jpg' %}" alt="" />
                    <div class="hov-in">
                        
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'images/footer/promotional6.jpg' %}" alt="" />
                    <div class="hov-in">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Instagram Feed  -->


    <!-- Start Footer  -->
    <footer>
        <div class="footer-main">
            <div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-12 col-sm-12">
						<div class="footer-top-box">
							<h3>Business Time</h3>
							<ul class="list-time">
								<li>Monday - Friday: 08.00am to 08.00pm</li> <li>Saturday & Sunday: 10.00am to 08.00pm</li> 
							</ul>
						</div>
					</div>
					<div class="col-lg-4 col-md-12 col-sm-12">
						<div class="footer-top-box">
							<h3>Newsletter</h3>
							<form class="newsletter-box">
								<div class="form-group">
									<input class="" type="email" name="Email" placeholder="Email Address*" />
									<i class="fa fa-envelope"></i>
								</div>
								<button class="btn hvr-hover" type="submit"><a href="mailto:info@carepress.co.tz">Submit</a></button>
                                
							</form>
						</div>
					</div>
					
				</div>
				<hr>
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-widget">
                            <h4>About CarePress</h4>
                            <p>We are the solution to your printing tasks let it be large, medium or small. we also offer a variety of office supply materials ranging from paper clips to printers</p> 
							<p>Here at CarePress client's satisfaction is the ultimate goal with the desire to give the best possible output that one wants. </p> 
                            <p>Once at CarePress we want you to make us your sole option when it comes to printing and office supplies by providing you with novelty everytime you visit us.</p>							
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link-contact">
                            <h4>Contact Us</h4>
                            <ul>
                                <li>
                                    <p><i class="fas fa-map-marker-alt"></i>Address: Twiga / Jangwani Street <br>Plot # 118,<br> Block M </p>
                                </li>
                                <li>
                                    <p><i class="fas fa-phone-square"></i>Phone: <a href="tel:+255 748 669 905">+255 748 669905</a></p>
                                    <p><i class="fas fa-phone-square"></i><a href="tel:+255 786 990908">+255 786 990908</a></p>
                                </li>
                                <li>
                                    <p><i class="fas fa-envelope"></i>Email: <a href="mailto:info@carepress.co.tz">info@carepress.co.tz</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer  -->

    <!-- Start copyright  -->
    <div class="footer-copyright">
        <p class="footer-company">All Rights Reserved. &copy; 2022 <a href="#"></a> Design By : 
            <a href="https://www.instagram.com/golden_technologiestz/">GoldenTechnologiesTz</a></p>
    </div>
    <!-- End copyright  -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- ALL PLUGINS -->
    <script src="{% static 'js/jquery.superslides.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.js' %}"></script>
    <script src="{% static 'js/inewsticker.js' %}"></script>
    <script src="{% static 'js/bootsnav.js.' %}"></script>
    <script src="{% static 'js/images-loded.min.js' %}"></script>
    <script src="{% static 'js/isotope.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/baguetteBox.min.js' %}"></script>
    <script src="{% static 'js/form-validator.min.js' %}"></script>
    <script src="{% static 'js/contact-form-script.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</body>

</html>